<div id="header" class="page-header clearfix">
    <div class="btn-group dropdown nav-links">
        <button id="save" class="btn btn-primary" data-toggle="tooltip" data-tooltip-placement="bottom" title="Save changes and reload">
            <span class="if-enabled"><i class="fa fa-floppy-o"></i> Save Changes</span>
            <span class="if-disabled"><i class="fa fa-check-circle"></i> No Changes to Save</span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="header-menu-button">
            <li role="presentation" class="dropdown-header">This Gacha</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" id="reload" href="javascript:;" data-toggle="tooltip" data-tooltip-placement="left" title="Discard all changes and reload"><i class="fa fa-refresh"></i> Reload</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" id="dashboard" href="javascript:;" data-toggle="tooltip" data-tooltip-placement="left" title="Discard all changes and go to dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" id="reset" href="javascript:;" data-toggle="tooltip" data-tooltip-placement="left" title="Reset script entirely"><span class="text-danger"><i class="fa fa-power-off"></i> Reset</span></a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Easy Gacha</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="https://marketplace.secondlife.com/p/Easy-Gacha-Kit/5391059" data-toggle="tooltip" data-tooltip-placement="left" title="Go to the Easy Gacha Kit on SecondLife Marketplace"><i class="fa fa-shopping-cart"></i> Marketplace</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="https://github.com/lslguru/easy-gacha" data-toggle="tooltip" data-tooltip-placement="left" title="Go to the Easy Gacha code repository"><i class="fa fa-github"></i> GitHub</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="https://lslguru.com/easy-gacha-v5/registry.php" data-toggle="tooltip" data-tooltip-placement="left" title="Go to the Gacha Registry which lists all official Easy Gachas"><i class="fa fa-globe"></i> All Gachas</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Status</li>
            <li role="presentation">
                <a data-toggle="tooltip" data-tooltip-placement="left" title="This is how much script memory is left in bytes. Each script gets 65535 bytes. Higher numbers are better.">
                    <span class="text-{{memoryState}}">
                        <i class="fa {{memoryIcon}}"></i> Free Memory: {{freeMemory}}
                    </span>
                </a>
            </li>
            <li role="presentation">
                <a data-toggle="tooltip" data-tooltip-placement="left" title="This is how much lag the scripts in this OBJECT are generating. Lower numbers are better. If there are scripts other than Easy Gacha, we cannot determine the lag of Easy Gacha specifically.">
                    <span class="text-{{lagState}}">
                        <i class="fa {{lagIcon}}"></i> Object Lag: {{scriptTime}}
                    </span>
                </a>
            </li>
        </ul>
        <button class="btn btn-{{overallState}}" data-toggle="dropdown" role="button" id="header-menu-button">
            Menu <span class="caret"></span>
        </button>
    </div>
    <div class="modal" id="reset-confirmation" tabindex="-1" role="dialog" aria-labelledby="reset-confirmation-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content alert-danger">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-hidden="true">&#215;</button>
                    <h4 class="modal-title" id="reset-confirmation-label"><i class="fa fa-exclamation-triangle"></i> Reset Script</h4>
                </div>
                <div class="modal-body">
                    WARNING: This will DELETE ALL SETTINGS and completely reset the script! Easy Gacha will then give you a new URL to use. Are you REALLY sure you want to do this?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="reset-confirm" class="btn btn-danger">Yes, reset this script</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="reload-confirmation" tabindex="-1" role="dialog" aria-labelledby="reload-confirmation-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content alert-warning">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-hidden="true">&#215;</button>
                    <h4 class="modal-title" id="reload-confirmation-label"><i class="fa fa-exclamation-triangle"></i> Discard Changes</h4>
                </div>
                <div class="modal-body">
                    You have unsaved changes. Reloading will discard them. Are you sure you want to go to the reload?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="reload-save-first" class="btn btn-default">Save and Reload</button>
                    <button id="reload-confirm" class="btn btn-primary">Reload</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="dashboard-confirmation" tabindex="-1" role="dialog" aria-labelledby="dashboard-confirmation-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content alert-warning">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-hidden="true">&#215;</button>
                    <h4 class="modal-title" id="dashboard-confirmation-label"><i class="fa fa-exclamation-triangle"></i> Discard Changes</h4>
                </div>
                <div class="modal-body">
                    You have unsaved changes. Going back to the dashboard will discard your changes. Are you sure you want to go to the dashboard?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="dashboard-confirm" class="btn btn-primary">Dashboard</button>
                </div>
            </div>
        </div>
    </div>
    <h1>
        <a href="{{mapUrl}}" data-toggle="tooltip" data-tooltip-placement="bottom" title="Click to see the object's last reported location on the map">{{objectName}}</a>
    </h1>
    <div>
        {{objectDesc}}
    </div>
    <div class="fade fade-resize in alert alert-info sl-viewer-only">
        <button class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
        <i class="fa fa-info-circle fa-3x"></i> It appears you are using the SecondLife Viewer's browser to visit Easy Gacha's page. Just so you know, this looks much better in your native browser. I highly suggest Chrome or Firefox.
    </div>
    <div class="alert alert-info fade fade-resize in" id="first-run-message">
        <button class="close" aria-hidden="true">&#215;</button>
        <i class="fa fa-info-circle"></i> Welcome to Easy Gacha! We set some defaults for you, but they have not been saved yet.
    </div>
    <div class="nav-links" data-toggle="tooltip" data-tooltip-placement="left" title="Many things here have extra information. If you need help, first try hovering your mouse over the thing that interests you.">
        <i class="fa fa-question-circle"></i>
    </div>
</div>
