<td
    data-column-contents="name"
    data-toggle="tooltip"
    data-tooltip-placement="right"
    title="{{typeName}}{{#if creatorUserName}}&lt;br /&gt;Created by: {{creatorDisplayName}} ({{creatorUserName}}){{/if}}"
>
    {{name}}
</td>

<td
    data-column-contents="permissions"
    {{#if inventoryExists}}
        data-toggle="tooltip"
        title="Owner: {{#if ownerCanCopy}}+{{else}}-{{/if}}copy, {{#if ownerCanMod}}+{{else}}-{{/if}}mod, {{#if ownerCanTrans}}+{{else}}-{{/if}}trans{{#if ownerCanTrans}}&lt;br /&gt;Next: {{#if nextCanCopy}}+{{else}}-{{/if}}copy, {{#if nextCanMod}}+{{else}}-{{/if}}mod, {{#if nextCanTrans}}+{{else}}-{{/if}}trans{{/if}}"
    {{/if}}
>
    {{#if inventoryExists}}
        <span class="fa-stack">
            <i class="fa fa-files-o fa-stack-1x text-{{#if ownerCanCopy}}success{{else}}default{{/if}}"></i>
            {{#if ownerCanCopy}}{{else}}
                <i class="fa fa-ban fa-stack-2x text-default"></i>
            {{/if}}
            <span class="sr-only">
                {{#if ownerCanCopy}}
                    Owner can copy this item
                {{else}}
                    Owner cannot copy this item
                {{/if}}
            </span>
        </span>
        <span class="fa-stack">
            <i class="fa fa-pencil-square-o fa-stack-1x text-{{#if ownerCanMod}}success{{else}}default{{/if}}"></i>
            {{#if ownerCanMod}}{{else}}
                <i class="fa fa-ban fa-stack-2x text-default"></i>
            {{/if}}
            <span class="sr-only">
                {{#if ownerCanMod}}
                    Owner can modify this item
                {{else}}
                    Owner cannot modify this item
                {{/if}}
            </span>
        </span>
        <span class="fa-stack">
            <i class="fa fa-share fa-stack-1x text-{{#if ownerCanTrans}}success{{else}}default{{/if}}"></i>
            {{#if ownerCanTrans}}{{else}}
                <i class="fa fa-ban fa-stack-2x text-default"></i>
            {{/if}}
            <span class="sr-only">
                {{#if ownerCanTrans}}
                    Owner can transfer this item
                {{else}}
                    Owner cannot transfer this item
                {{/if}}
            </span>
        </span>
    {{else}}
        Unknown
    {{/if}}
</td>

<td data-column-contents="rarity">
    <span class="can-set-rarity fade">
        <input
            type="number"
            class="form-control"
            placeholder="Rarity"
            data-aria-valuemin="0" 
            data-toggle="tooltip"
            title="Any number &#x2265;0"
        />
        <span class="show-calculated-rarity fade">
            <span class="nowrap"> = between <span
            class="rarity-low"
            data-toggle="tooltip"
            title="This is the starting probability"
        ></span>%</span> <span class="nowrap">and <span
            class="rarity-high"
            data-toggle="tooltip"
            title="This is the probability if all limited quantities are exhausted"
        ></span>%</span></span>
    </span>
    <span class="not-sold fade">Not for sale</span>
</td>

<td data-column-contents="limit">
    <span class="no-trans fade">Not transferable</span>
    <span class="no-copy fade">Not copyable</span>
    <div class="input-group fade">
        <span class="input-group-btn">
            <button class="btn btn-default active unlimited set-limit" type="button" data-limited="0">Unlimited</button>
            <button class="btn btn-default limited set-limit" type="button" data-limited="1">Limited</button>
        </span>
        <input class="form-control fade" type="number" placeholder="Max" data-aria-valuemin="0" />
    </div>
</td>

<td data-column-contents="action">
    <div class="btn-group">
        <button
            class="btn btn-default item-delete-button"
            type="button"
            data-toggle="tooltip"
            data-tooltip-placement="left"
            title="Removes this screen's settings, but does NOT delete the item from inventory if it exists"
        ><i class="fa fa-trash-o"></i> Delete</button>
        <button
            class="btn btn-default config-import-button"
            type="button"
            data-toggle="tooltip"
            data-tooltip-placement="left"
            title="Read the contents of the notecard and send it to the &quot;Import&quot; tab"
        ><i class="fa fa-cloud-download"></i> Read Notecard</button>
    </div>
</td>
